
@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }
html, body {
    font-family: 'BBTreeGR';
    background: #cee8f5;
    height: auto !important;
}

#main .menu-wrapper > .header {
    background: #FFFFFF;
    color: #000000;
}

header #header-bar > .row { /*border-top: 5px solid #000000;*/
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #cee8f5;
    color: #FFFFFF;
    border-radius: 10px;
}

header #right-search-form > input[type=text] {
    border: 2px solid rgb(137, 196, 244);
    border-radius: 10px;
}

header #right-search-form > #right-search-btn {
    color: #000000;
}

#main .menu-wrapper > a > em {
    color: #000000;
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: rgb(137, 196, 244);
    color: #FFFFFF;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: #000000;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: #000000;
}

#article-list #article-list-category {
    background-color: rgb(137, 196, 244);
    border-top: 2px solid #000000;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: rgb(137, 196, 244);
    border-color: rgb(137, 196, 244);
    color: #FFFFFF;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}

#board-info #board-info-profile-img {
    width: 10em;
    height: 10em;
    float: left !Important;
    border: 3px solid rgb(137, 196, 244);
}

#board-info {
    height: 12em;
}

#board-info h1 {
    margin-top: 2em;
}

#board-info h1 > a {
    margin-left: 10px;
}

#board-info #board-info-bottom a:first-child {
    margin-left: 10px;
}

#article-list > .article-list-row > .item > .list-title > small.favo {
    color: rgb(137, 196, 244);
}

header #header-bar > .row {
    border-radius: 10px;
    border: 2px solid rgb(137, 196, 244);
}

#main #main-content > div.frame {
    border-radius: 10px;
}

#article-list > .article-list-row:hover > .item > .list-title > a {
    font-weight: 700;
}

a.nav-link.active {
}

img[Alt-Broadcaster] {
    width: 18px;
    height: 18px;
    padding-left: 18px;
}

img[alt=Broadcaster] {
    width: 18px;
    height: 18px;
    padding-left: 18px;
    border-radius: 10px;
}

#article-list #article-list-category > a {
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    background: #f5f5f5;
    padding: 0 16px;
}

#article-list #article-list-category {
    border-top: 2px solid rgb(137, 196, 244);
    background: #FFFFFF;
}

#article-list #article-list-category > a:first-child {
    color: #000000;
}

#article-list #article-list-category > a:hover {
    font-weight: 700;
    color: #000000 !important;
}

header #right-search-form > input[type=text] {
    outline: none;
    transition: 0.5s;
}

span#viewers:after {
    content: "명이 보고 있어요~";
}

#board-info h1 > a {
    font-size: 40px;
}

header #header-bar {
    margin-top: 10px;
}

#article-content-wrapper > .header {
    border-top: 2px solid #000000;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: #000000;
}

#article-reply-area > .header h5 {
    color: #000000;
}

a {
    color: rgb(46, 49, 49);
}

.fa-search:before {
    color: rgb(137, 196, 244);
}

#article-list #article-option-area {
    position: absolute;
    right: 16px;
    top: -38px;
    z-index: 20;
}

#main .menu-wrapper {
    border: none;
}

#main .menu-wrapper .spacer {
    background: transparent;
}

#article-list > .article-list-row > .item > .list-header.v0 > span {
    color: #000000;
}

#article-list > .article-list-row:hover > .item > .list-header.v0 > span {
    color: #000000;
}

#board-info #viewers-area, #board-info #score-area {
    color: #000000;
}

#article-list > .article-list-row > .item > .list-header > span {
    padding: 0 10px;
    font-size: 10px;
}

.fa-search:before {
    color: rgb(137, 196, 244);
}

#board-info #viewers-area, #board-info #score-area {
    color: #000000
}

#main .menu-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden
}

button#writeCommentBtn {
    background: #cee8f5;
    color: #000000;
}

footer, footer a {
    color: #FFFFFF !important;
}

@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header .row > div:nth-child(1) > a:after {
    color: rgb(137, 196, 244);
    font-family: 'TTTogether';
    content: '오게더';
    height: 70px;
    line-height: 70px;
    font-size: 56px;
    width: 348px;
    display: block;
    position: absolute;
    letter-spacing: -2px;
    text-shadow: 3px 3px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
    animation: 1s infinite tada;
}

header .row > div:nth-child(1) > a {
    background: none;
    height: 70px;
    display: inline-block;
}

header .row > div:nth-child(1) > a > img {
    display: none;
}

a.btn.square.btn-primary.write {
    background: rgb(137, 196, 244);
    border-color: rgb(137, 196, 244);
    border-radius: 10px;
}

a.btn.square.btn-default.best {
    border-radius: 10px;
}

#movetotop {
    background: #fff url(//upload.tgd.kr/20200523/9cb4ae4890a4ddd6f90279e6d5b584d2.png) top center no-repeat;
    width: 60px;
    height: 60px;
    opacity: 1;
    border-radius: 100%;
    transition: .3s ease-in-out;
    background-size: contain;
}

#movetotop:hover {
    transform: scale(1.2);
}

#movetotop img {
    display: none;
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}