@keyframes heartBeat {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	14% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	28% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	42% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
	font-family: 'BBTreeGR' !important;
	cursor: url(http://cur.cursors-4u.net/others/oth-8/oth713.ani), url(http://cur.cursors-4u.net/others/oth-8/oth713.png), auto !important;
}

html, body {
	background: #fea4f7 !important;
}

#main .menu-wrapper>.header {
	background: #62346c !important;
}

header #header-bar>.row {
	border-top: 5px solid #62346c !important;
}

header #header-bar #header-top-notice strong.notice-badge {
	background: #62346c !important;
}

header #right-search-form>input[type=text] {
	border: 3px solid #62346c !important;
}

header #right-search-form>#right-search-btn {
	color: #62346c !important;
}

#article-list #article-list-category {
	border-top: 2px solid #62346c !important;
}

#article-list>.article-list-row>.item>.list-header>span {
	background-color: #62346c !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #62346c;
	border-color: #62346c;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #62346c;
}

#board-info #board-info-profile-img {
	float: left !important;
	width: 7em !important;
	height: 7em !important;
	border-radius: 50% !important;
	margin-right: 10px !important;
	animation: 2s infinite heartBeat;
}

div#board-info {
	height: 9em !important;
}

#board-info h1 {
	margin-top: 1em !important;
}

#article-content-wrapper>.header {
	border-top: 2px solid #62346c !important;
}

div#article-list {
	background-size: 30% auto !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-position: 400px center !important;
}

span#viewers:after {
	content: "명의 바보들!" !important;
}

div#article-list-category {
	background: #62346c !important;
}

#article-list-category > a {
	background: #62346c !important;
	color: white !important;
	border-right: 1px solid !important;
}


header .row>div:nth-child(1)>a {
	float: left;
	position: relative;
	background: url(https://upload.tgd.kr/20190522/677ad224f701bbcca456bfdcc72d0500.png) no-repeat;
	background-size: 150px auto;
	display: block;
	width: 150px;
	height: 50px;
	top: 0;
	animation : 2s infinite heartBeat;
}

header .row>div:nth-child(1)>a img {
	display: none;
}

.article-list-row:hover {
	transition: 0.2s;
	transform: scale(1.1);
}
