@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}


html, body {
	font-family: 'Noto Sans KR';
	background: rgb(46, 49, 49);
}

header>#header-area>a>h1 {
	position: relative;
	background: url(//upload.tgd.kr/20200517/6ddcd08b668c37ebf5ae622a54a0111f.png) no-repeat;
	background-size: 80px 38px;
	display: inline-block;
	width: 80px;
	height: 38px;

}
header{
	background: rgb(46, 49, 49);
	border-bottom: 4px solid rgb(232, 236, 241);
}

header>#header-area>#header-bar-link{
	color: #333
}
header>#header-area>#header-search-link {
	color: #333;
}


#header-top-notice strong.notice-badge {
	background: #d4ad1d;
	color: #fff;
	border-radius: 20px;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
	color: #333;
}

#article-list>.article-list-row>.item>.list-header>span {
	padding: 0 10px;
	font-size: 10px;
	background-color: #ff3535;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
	color: #999;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #ff3535;
	border-color: #ff3535;
	color: #fff;
}

.pagination>li>a, .pagination>li>span {
	color: black;
}

nav#nav>.nav-header {
	background: #333;
	color: #fff;
}

#article-reply-area > .header h5 {color: black;}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
	color: black;
}

a {
	color: #fff;
}
.fa-bars:before{
	color: #ff3535;
}
.fa-search:before {
	color: #ff3535;
}


footer{
	background: rgb(46, 49, 49);
}

footer .container{
	color: #fff;
}

#article-list #article-list-category{
	background: #fff;
}

#article-list #article-list-category>a{
	background: #fff;
}
#board-info #viewers-area, #board-info #score-area{
	color: #fff;
}