@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

html, body {
    font-family: 'Noto Sans KR';
    background: rgb(46, 49, 49);
    height: auto !important;
}

body {
    background: rgb(46, 49, 49) !important;
    background-image: url(https://upload.tgd.kr/20200517/078048265e93fbad83819aa55fec95e4.png)!important;
    -webkit-animation: snow 10s linear infinite !important;
    -moz-animation: snow 10s linear infinite !important;
    -ms-animation: snow 10s linear infinite !important;
    animation: snow 10s linear infinite !important;
}

#main .menu-wrapper > .header {
    background: #fff;
    color: black;
}

header #header-bar > .row {
    /*border-top: 5px solid #333;*/
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #d4ad1d;
    color: #fff;
    border-radius: 20px;
}

header .row > div:nth-child(1) > a {
    float: left;
    position: relative;
    background: url(//upload.tgd.kr/20200517/6ddcd08b668c37ebf5ae622a54a0111f.png) no-repeat;
    background-size: 120px 73px;
    display: block;
    width: 120px;
    height: 73px;
    left: 0;
    top: 0;
    animation: 2s bounce infinite;
}

header #right-search-form > input[type=text] {
    border: 2px solid #ff3535;
    border-radius: 20px;
}

header #right-search-form > #right-search-btn {
    color: #333;
}

#main .menu-wrapper > a > em {
    color: #333;
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: #ff3535;
    color: #fff;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: #999;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: black;
}

#article-list #article-list-category {
    background-color: #ff3535;
    border-top: 2px solid #333;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ff3535;
    border-color: #ff3535;
    color: #fff;
}

.pagination > li > a, .pagination > li > span {
    color: black;
}

#board-info #board-info-profile-img {
    width: 10em;
    height: 10em;
    float: left !Important;
    border: 3px solid #ff3535;
}

#board-info {
    height: 12em;
}

#board-info h1 {
    margin-top: 2em;
}

#board-info h1 > a {
    margin-left: 10px;
}

#board-info #board-info-bottom a:first-child {
    margin-left: 10px;
}

#article-list > .article-list-row > .item > .list-title > small.favo {
    color: #ff3535;
}

header #header-bar > .row {
    border-radius: 20px;
    border: 2px solid #ff3535;
}

#main #main-content > div.frame {
    /*border: 3px solid #ff3535;*/
}

#article-list > .article-list-row:hover > .item > .list-title > a {
    font-weight: 700;
}

a.nav-link.active {
}

img[Alt-Broadcaster] {

    width: 18px;
    height: 18px;
    padding-left: 18px;
}

img[alt=Broadcaster] {

    width: 18px;
    height: 18px;
    padding-left: 18px;
    border-radius: 5px;
}

#article-list #article-list-category > a {
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    background: #f5f5f5;
    padding: 0 16px;
}
#article-list #article-list-category{
    border-top: 2px solid #ff3535;
    background: #fff;
}
#article-list #article-list-category > a:first-child {
    color: black;
}

#article-list #article-list-category > a:hover {
    font-weight: 700;
    color: black !important;
}

header #right-search-form > input[type=text] {
    outline: none;
    transition: 0.5s;
}


span#viewers:after {
    content: "명이 보고 있어요 :)";
}

#board-info h1 > a {
    font-size: 40px;
}

header .row > div:nth-child(1) > a img {
    display: none;
}

header #header-bar {
    margin-top: 10px;
}

#article-content-wrapper > .header {
    border-top: 2px solid #333;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: black;
}

#article-reply-area > .header h5 {
    color: black;
}

a {
    color: #fff;
}

.fa-search:before {
    color: #ff3535;
}

#article-list #article-option-area{
    position: absolute;
    right: 16px;
    top: -38px;
    z-index: 20;
}
#main .menu-wrapper{
    border: none;
}
#main .menu-wrapper .spacer{
    background: transparent;
}

#article-list>.article-list-row>.item>.list-header.v0>span{
    color: #fff;
}

#article-list>.article-list-row:hover>.item>.list-header.v0>span{
    color: #fff;
}

#board-info #viewers-area, #board-info #score-area{
    color: #333;
}

#article-list>.article-list-row>.item>.list-header>span{
    padding: 0 10px;
    font-size: 10px;
}

footer{
    color: #fff;
}

#movetotop{
    background: #fff url(//upload.tgd.kr/20200517/54cfb9b8f9139e4215167f94bd9b15c5.png) center no-repeat;
    width: 60px;
    height: 60px;
    opacity: 1;
    border-radius: 100%;
    transition: .5s ease-in-out;
}
#movetotop:hover{
    transform: scale(1.2);
}
#movetotop img{
    display: none;
}
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
