@font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }

@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

* {
	font-family : 'Handon3gyeopsal300g';
}

@keyframes heartBeat {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	14% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	28% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	42% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes lightSpeedIn {
	from {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}

	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
body {
	height: auto !important;
	background: none !important;
	background-image: url(https://i.ibb.co/hZ4xk3s/heart3.png), url(https://i.ibb.co/K9QxXSt/heart2.png), url(https://i.ibb.co/hZ4xk3s/heart3.png) !important;
	-webkit-animation: snow 10s linear infinite !important;
	-moz-animation: snow 10s linear infinite !important;
	-ms-animation: snow 10s linear infinite !important;
	animation: snow 10s linear infinite !important;
}

html, body {
	background: #f1ebc0;
}

#main .menu-wrapper>.header {
	background: rgba(232,218,108,1);
	background: -moz-linear-gradient(top, rgba(232,218,108,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 62%, rgba(232,218,108,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,218,108,1)), color-stop(53%, rgba(255,255,255,1)), color-stop(62%, rgba(255,255,255,1)), color-stop(100%, rgba(232,218,108,1)));
	background: -webkit-linear-gradient(top, rgba(232,218,108,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 62%, rgba(232,218,108,1) 100%);
	background: -o-linear-gradient(top, rgba(232,218,108,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 62%, rgba(232,218,108,1) 100%);
	background: -ms-linear-gradient(top, rgba(232,218,108,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 62%, rgba(232,218,108,1) 100%);
	background: linear-gradient(to bottom, rgba(232,218,108,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 62%, rgba(232,218,108,1) 100%);
	color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#main .menu-wrapper>.header>a {
	color: black;
}

#main .menu-wrapper>a>em {
	color: #e0d47f;
}

#main .menu-wrapper>a>i.fa.fa-square {
	color: #e0d47f;
}

header #header-bar>.row {
	border-top: 5px solid #e8d96c;
	border-radius: 20px;
}

#article-list>.article-list-row>.item>.list-header>span {
	background-color: #e8d96c;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
	color: #e8d96c;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: black;
}

header #header-bar #header-top-notice strong.notice-badge {
	background: #f3ffb3;
	color: black;
	border: 1px solid #999;
	border-radius: 10px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #e0d47f;
	border-color: #e0d47f;
}

.pagination>li>a, .pagination>li>span {
	color: black;
}

header #right-search-form>input[type=text] {
	border: 3px solid #e0d47f;
	border-radius: 20px;
}

header #right-search-form>#right-search-btn {
	color: #e0d47f;
}

#board-info {
	height: 9em;
}

#board-info #board-info-profile-img {
	width: 7em;
	float: left!important;
	border-radius: 50%;
	animation: 5s lightSpeedIn infinite;
}

#board-info h1 {
	margin-top: 1em;
}

#board-info h1>a {
	padding-left: 10px;
}

#board-info #board-info-bottom #addFavoriteBtn {
	padding-left: 10px !important;
}

#main #main-content>div.frame {
	border: 2px solid #e0d47f;
	border-radius: 20px;
}

header .row>div:nth-child(1)>a {
	float: left;
	position: relative;
	background: url(https://upload.tgd.kr/20190623/3fa9d662e64af3dd7d4187e525fc3e84.png) no-repeat;
	background-size: 200px auto;
	display: block;
	width: 200px;
	height: 50px;
	left: 0;
	top: 0;
	animation: 1.6s heartBeat infinite;
}

header .row>div:nth-child(1)>a img {
	display: none;
}

#article-list>.article-list-row.notice {
	background: rgba(254,255,168,1);
	background: -moz-linear-gradient(left, rgba(254,255,168,1) 0%, rgba(255,255,219,1) 24%, rgba(255,255,255,1) 52%, rgba(255,255,219,1) 78%, rgba(254,255,168,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,255,168,1)), color-stop(24%, rgba(255,255,219,1)), color-stop(52%, rgba(255,255,255,1)), color-stop(78%, rgba(255,255,219,1)), color-stop(100%, rgba(254,255,168,1)));
	background: -webkit-linear-gradient(left, rgba(254,255,168,1) 0%, rgba(255,255,219,1) 24%, rgba(255,255,255,1) 52%, rgba(255,255,219,1) 78%, rgba(254,255,168,1) 100%);
	background: -o-linear-gradient(left, rgba(254,255,168,1) 0%, rgba(255,255,219,1) 24%, rgba(255,255,255,1) 52%, rgba(255,255,219,1) 78%, rgba(254,255,168,1) 100%);
	background: -ms-linear-gradient(left, rgba(254,255,168,1) 0%, rgba(255,255,219,1) 24%, rgba(255,255,255,1) 52%, rgba(255,255,219,1) 78%, rgba(254,255,168,1) 100%);
	background: linear-gradient(to right, rgba(254,255,168,1) 0%, rgba(255,255,219,1) 24%, rgba(255,255,255,1) 52%, rgba(255,255,219,1) 78%, rgba(254,255,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffa8', endColorstr='#feffa8', GradientType=1 );
}

span#viewers:before {
	content: "소라게 " !important;
}

span#viewers:after {
	content: "명 집짓는중!" !important;
}


div#article-list {
	background: url(//upload.tgd.kr/20190623/8274cc5a7caaf2a6888be5d9122a41c1.png);
	background-size: 45% auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-position: 300px 100px;
}

#article-list #article-list-category {
	border-top: 2px solid #e8d96c;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
	color: #ff5656;
}

#article-list>.article-list-row:hover {
	background: #fafafa94;
}
