@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

html, body {
	font-family: 'Noto Sans KR';
	background: #feece7;
	height: auto !important;
	background-image: url(https://media.discordapp.net/attachments/619755115795972106/884740451758915594/20210401___.png?width=971&height=776), url(https://media.discordapp.net/attachments/619755115795972106/884740245680160778/-2.gif);
	background-repeat: no-repeat;
	background-position: 24% -2.8%, 5% 90%;
	background-size: 180px 155px, 470px 500px;
}

#main .menu-wrapper > .header {
	background: #FFFFFF;
	color: #000000;
}

header #header-bar > .row { /*border-top: 5px solid #000000;*/
}

header #header-bar #header-top-notice strong.notice-badge {
	background: #fde3a7;
	color: #FFFFFF;
	border-radius: 0;
}

header #right-search-form > input[type=text] {
	border: 2px solid #d35400;
	border-radius: 0;
}

header #right-search-form > #right-search-btn {
	color: #000000;
}

#main .menu-wrapper > a > em {
	color: #000000;
}

#article-list > .article-list-row > .item > .list-header > span {
	background-color: #d35400;
	color: #FFFFFF;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
	color: #000000;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: #000000;
}

#article-list #article-list-category {
	background-color: #d35400;
	border-top: 2px solid #000000;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #d35400;
	border-color: #d35400;
	color: #FFFFFF;
}

.pagination > li > a, .pagination > li > span {
	color: #000000;
}

#board-info #board-info-profile-img {
	width: 10em;
	height: 10em;
	float: left !Important;
	border: 3px solid #d35400;
}

#board-info {
	height: 12em;
}

#board-info h1 {
	margin-top: 2em;
}

#board-info h1 > a {
	margin-left: 10px;
}

#board-info #board-info-bottom a:first-child {
	margin-left: 10px;
}

#article-list > .article-list-row > .item > .list-title > small.favo {
	color: #d35400;
}

header #header-bar > .row {
	border-radius: 0;
	border: 2px solid #d35400;
}

#main #main-content > div.frame {
	border-radius: 0;
}

#article-list > .article-list-row:hover > .item > .list-title > a {
	font-weight: 700;
}

#article-list #article-list-category > a {
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	background: #f5f5f5;
	padding: 0 16px;
}

#article-list #article-list-category {
	border-top: 2px solid #d35400;
	background: #FFFFFF;
}

#article-list #article-list-category > a:first-child {
	color: #000000;
}

#article-list #article-list-category > a:hover {
	font-weight: 700;
	color: #000000 !important;
}

header #right-search-form > input[type=text] {
	outline: none;
	transition: 0.5s;
}

span#viewers:after {
	content: "명이 보고 있어요~";
}

#board-info h1 > a {
	font-size: 40px;
}

header #header-bar {
	margin-top: 10px;
}

#article-content-wrapper > .header {
	border-top: 2px solid #000000;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
	color: #000000;
}

#article-reply-area > .header h5 {
	color: #000000;
}

a {
	color: rgb(46, 49, 49);
}

.fa-search:before {
	color: #d35400;
}

#article-list #article-option-area {
	position: absolute;
	right: 16px;
	top: -38px;
	z-index: 20;
}

#main .menu-wrapper {
	border: none;
}

#main .menu-wrapper .spacer {
	background: transparent;
}

#article-list > .article-list-row > .item > .list-header.v0 > span {
	color: #000000;
}

#article-list > .article-list-row:hover > .item > .list-header.v0 > span {
	color: #000000;
}

#board-info #viewers-area, #board-info #score-area {
	color: #000000;
}

#article-list > .article-list-row > .item > .list-header > span {
	padding: 0 10px;
	font-size: 10px;
}

.fa-search:before {
	color: #d35400;
}

#board-info #viewers-area, #board-info #score-area {
	color: #000000
}

#main .menu-wrapper {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	overflow: hidden
}

button#writeCommentBtn {
	background: #fde3a7;
	color: #000000;
}

footer, footer a {
	color: #000000 !important;
}

@font-face {
	font-family: 'TTTogether';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header .row > div:nth-child(1) > a:after {
	color: #d35400;
	font-family: 'TTTogether';
	content: '이글콥';
	height: 70px;
	line-height: 70px;
	font-size: 56px;
	width: 348px;
	display: block;
	position: absolute;
	letter-spacing: -2px;
	text-shadow: 3px 3px 0 #FFFFFF,
	-1px -1px 0 #FFFFFF,
	1px -1px 0 #FFFFFF,
	-1px 1px 0 #FFFFFF,
	1px 1px 0 #FFFFFF;
}

header .row > div:nth-child(1) > a {
	background: none;
	height: 70px;
	display: inline-block;
}

header .row > div:nth-child(1) > a > img {
	display: none;
}

a.btn.square.btn-primary.write {
	background: #d35400;
	border-color: #d35400;
	border-radius: 0;
}

a.btn.square.btn-default.best {
	border-radius: 0;
}

#article-list > .article-list-row {
	transition: all 200ms;
}

#article-list > .article-list-row:hover {
	background: #fafafa;
	transform: scale(1.05);
}

#board-info h1 a.badge.badge-live {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	animation: 1s zz infinite;
}

@keyframes zz {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.btn-primary {
	background: #d35400;
	border-color: #d35400;
	border-radius: 0;
}
