@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'CookieRunOTF-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header .row > div:nth-child(1) > a:after {
	font-family: 'CookieRunOTF-Bold';
}

html, body {
	font-family: 'Noto Sans KR';
	background: #fde3a7;
	height: auto !important;
}

header #header-bar > .row { /*border-top: 5px solid rgb(253, 227, 167);*/
}

header #header-bar #header-top-notice strong.notice-badge {
	background: #fde3a7;
	color: rgb(245, 171, 53);
	border-radius: 0;
}

header #right-search-form > input[type=text] {
	border: 2px solid #d35400;
	border-radius: 0;
}

header #header-bar > .row {
	border-radius: 0;
	border: 2px solid #d35400;
}

header #right-search-form > input[type=text] {
	outline: none;
	transition: 0.5s;
}

header .row > div:nth-child(1) > a:after {
	color: #d35400;
	content: '하게더';
	height: 70px;
	line-height: 70px;
	font-size: 56px;
	width: 348px;
	display: block;
	position: absolute;
	letter-spacing: -2px;
	text-shadow: 3px 3px 0 rgb(245, 171, 53),
	-1px -1px 0 rgb(245, 171, 53),
	1px -1px 0 rgb(245, 171, 53),
	-1px 1px 0 rgb(245, 171, 53),
	1px 1px 0 rgb(245, 171, 53);
}

header #header-bar {
	margin-top: 10px;
}

header #right-search-form > #right-search-btn {
	color: rgb(253, 227, 167);
}

header .row > div:nth-child(1) > a {
	background: none;
	height: 70px;
	display: inline-block;
}

header .row > div:nth-child(1) > a > img {
	display: none;
}

#main .menu-wrapper > .header {
	background: rgb(245, 171, 53);
	color: rgb(253, 227, 167);
}

#main .menu-wrapper > a > em {
	color: rgb(253, 227, 167);
}

#article-list > .article-list-row > .item > .list-header > span {
	background-color: #d35400;
	color: rgb(245, 171, 53);
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
	color: rgb(253, 227, 167);
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: rgb(253, 227, 167);
}

#article-list #article-list-category {
	background-color: #d35400;
	border-top: 2px solid rgb(253, 227, 167);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #d35400;
	border-color: #d35400;
	color: rgb(245, 171, 53);
}

.pagination > li > a, .pagination > li > span {
	color: rgb(253, 227, 167);
}

#board-info #board-info-profile-img {
	width: 10em;
	height: 10em;
	float: left !Important;
	border: 3px solid #d35400;
}

#board-info {
	height: 12em;
}

#board-info h1 {
	margin-top: 2em;
}

#board-info h1 > a {
	margin-left: 10px;
}

#board-info #board-info-bottom a:first-child {
	margin-left: 10px;
}

#article-list > .article-list-row > .item > .list-title > small.favo {
	color: #d35400;
}

#main #main-content > div.frame {
	border-radius: 0;
}

#article-list > .article-list-row:hover > .item > .list-title > a {
	font-weight: 700;
}

a.nav-link.active {
}

#article-list #article-list-category > a {
	line-height: 50px;
	font-size: 14px;
	background: #f5f5f5;
	padding: 0 16px;
}

#article-list #article-list-category {
	border-top: 2px solid #d35400;
	background: rgb(245, 171, 53);
}

#article-list #article-list-category > a:first-child {
	color: rgb(253, 227, 167);
}

#article-list #article-list-category > a:hover {
	font-weight: 700;
	color: rgb(253, 227, 167) !important;
}

span#viewers:after {
	content: "명이 보고 있어요~";
}

#board-info h1 > a {
	font-size: 40px;
}

#article-content-wrapper > .header {
	border-top: 2px solid rgb(253, 227, 167);
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
	color: rgb(253, 227, 167);
}

#article-reply-area > .header h5 {
	color: rgb(253, 227, 167);
}

a {
	color: rgb(46, 49, 49);
}

.fa-search:before {
	color: #d35400;
}

#article-list #article-option-area {
	position: absolute;
	right: 16px;
	top: -38px;
	z-index: 20;
}

#main .menu-wrapper {
	border: none;
}

#main .menu-wrapper .spacer {
	background: transparent;
}

#article-list > .article-list-row > .item > .list-header.v0 > span {
	color: rgb(253, 227, 167);
}

#article-list > .article-list-row:hover > .item > .list-header.v0 > span {
	color: rgb(253, 227, 167);
}

#board-info #viewers-area, #board-info #score-area {
	color: rgb(253, 227, 167);
}

#article-list > .article-list-row > .item > .list-header > span {
	padding: 0 10px;
	font-size: 10px;
}

.fa-search:before {
	color: #d35400;
}

#board-info #viewers-area, #board-info #score-area {
	color: rgb(253, 227, 167)
}

#main .menu-wrapper {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	overflow: hidden
}

button#writeCommentBtn {
	background: #fde3a7;
	border-color: #fde3a7;
	color: rgb(253, 227, 167);
}

footer, footer a {
	color: rgb(245, 171, 53) !important;
}

a.btn.square.btn-primary.write {
	background: #d35400;
	border-color: #d35400;
	border-radius: 0;
}

a.btn.square.btn-default.best {
	border-radius: 0;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: black;
}
