@font-face {
	font-family: 'Goyang';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Goyang';
}

#article-list > .article-list-row:nth-of-type(2) {
	border-top: 2px solid #f7a8ba;
}

#main .menu-wrapper > .header {
	background: #f7a8ba;
}

header #header-bar > .row {
	border-top: 5px solid #f7a8ba;
}

header #right-search-form > input[type=text] {
	border: 3px solid #f7a8ba;
}

#main .menu-wrapper > a > em {
	color: #ffcdd8;
}

#main .menu-wrapper > a > i.fa.fa-square {
	color: #f7a8ba;
}

#article-list > .article-list-row > .item > .list-header > span {
	background-color: #f7a8ba;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: black;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #f7a8ba;
	border-color: #f7a8ba;
}

.pagination > li > a, .pagination > li > span {
	color: black;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
	color: #f7a8ba;
}

html {
	background: #ffe6ea;
}

header .row > div:nth-child(1) > a {
	float: left;
	position: relative;
	background: url(//upload.tgd.kr/20190904/ffb003105a6c2d411880cbb89d059a24.png) no-repeat;
	background-size: 120px auto;
	display: block;
	width: 120px;
	height: 50px;
	left: 0;
	top: 0;
}

header .row > div:nth-child(1) > a img {
	display: none;
}


#article-content-wrapper > .header {
	border-top: 2px solid #f7a8ba;
}

#article-reply-area > .header h5 {
	color: #f7a8ba;
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

#board-info #board-info-profile-img {
	float: left !important;
	width: 8em;
	height: 8em;
	border-radius: 50%;
	border: 3px solid #f7a8ba;
}

header .row > div:nth-child(1) > a {
	animation: 4s swing infinite;
}

#board-info {
	height: 10em;
}

#board-info h1 {
	margin-top: 1em;
	font-size: 32px;
}

@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


body {
	height: auto !important;
	background-image: url(https://i.ibb.co/K9QxXSt/heart1.png), url(https://i.ibb.co/K9QxXSt/heart2.png), url(https://i.ibb.co/hZ4xk3s/heart3.png) !important;
	-webkit-animation: snow 10s linear infinite !important;
	-moz-animation: snow 10s linear infinite !important;
	-ms-animation: snow 10s linear infinite !important;
	animation: snow 10s linear infinite !important;
}


@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-moz-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-webkit-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	50% {
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-ms-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

header #right-search-form > #right-search-btn {
	color: #f7a8ba;
}

img[alt=Broadcaster] {
	background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/a4c94f2e-14e0-4470-a246-a32fd9fcd5f9-profile_image-300x300.png) 0 0/18px;
	width: 18px;
	height: 18px;
	padding-left: 18px;
}
